<% content_for :title, "Redirected Page" %>

<div class="top-level-container">
  <h1 class="hide@native margin-bs-xl text-large-title">Redirected Page</h1>
  <p>This page is the result of a redirect. The original destination has been replaced with this page.</p>
</div>
