<% content_for :title, "Replace Navigation" %>

<div class="top-level-container">
  <h1 class="hide@native margin-bs-xl text-large-title">Replace Navigation</h1>
  <p>
    This screen replaced the previous one.<br>
    Trigger this by adding the following to a link:<br>
    <code>data: {turbo_action: :replace}</code>
  </p>
</div>
