<% content_for :title, "Slow-Loading Page" %>

<div class="top-level-container">
  <h1 class="hide@native margin-bs-xl text-large-title">Slow-Loading Page</h1>
  <p>This page is rendered with a delay on the server so you can see the loading indicator and test Turbo's preview cache.</p>
  <p>To see the preview cache in action, tap the Back button, then return to this page. It will load instantly while the slow network request completes in the background.</p>
  <p>Tap the Back button and use pull-to-refresh before returning to see the slow, uncached version again.</p>
</div>
