<% content_for :title, "##{@number}" %>

<div class="container">
  <h1 class="d-hotwire-native-none mt-4"><%= "##{@number}" %></h1>
  <p>You just navigated from a native screen to a web screen.</p>
  <p>On iOS, we used a <code>Router</code> to pass a URL back to Hotwire Native. Check out <code>NumbersViewController</code> for an example.</p>
  <p>On Android, we….</p>
</div>
