<% content_for :title, "##{@number}" %>

<div class="top-level-container">
  <h1 class="hide@native margin-bs-xl text-large-title"><%= "##{@number}" %></h1>
  <p>You just navigated from a native screen to a web screen.</p>
  <p>On iOS, we used a <code>NavigationHandler</code> to pass a URL back to Hotwire Native. Check out <code>NumbersViewController</code> for an example.</p>
  <p>On Android, we….</p>
</div>
