<% content_for :title, "Form Submitted" %>

<div class="container">
  <h1 class="d-hotwire-native-none mt-4">Form Submitted</h1>
  <p>This page was redirected to after submitting the form. You entered the following:</p>
  <p class="mb-1"><b>First name:</b> <%= @first_name %></p>
  <p><b>Last name:</b> <%= @last_name %></p>
</div>
