<div class="top-level-container">
  <%= form_with url: refresh_bugs_path, class: "flex-column align-self-end" do |form| %>
    <%= form.submit "Submit form", class: "button inline-100" %>
  <% end %>
</div>
