<% content_for :title, "Bugs & Fixes" %>

<div class="top-level-container">
  <h1 class="hide@native margin-bs-xl text-large-title">Bugs & Fixes</h1>
  <p>An area to reproduce outstanding bugs and ensure no regressions on existing fixes reappear.</p>

  <div class="formatted-list formatted-list--top-level">
    <%= render "navigations/item",
    path: tabs_bugs_path,
    icon: "cloud-upload-bold",
    name: "Turbo Action Replace",
    description: "Web-based tabs that replace screens." %>
  </div>
</div>
