<% content_for :title, "Bugs & Fixes" %>

<div class="container">
  <h1 class="d-hotwire-native-none mt-4">Bugs & Fixes</h1>
  <p>An area to reproduce outstanding bugs and ensure no regressions on existing fixes reappear.</p>
</div>

<div class="list-group list-group-flush">
  <%= render "navigations/item",
    path: tabs_bugs_path,
    icon: "bi-cloud-arrow-up",
    name: "Turbo Action Replace",
    description: "Web-based tabs that replace screens." %>
</div>
