<% content_for :title, "Replace" %>

<div class="container">
  <h1 class="d-hotwire-native-none mt-4">Replace</h1>
  <p>This screen replaced the previous modal one.</p>
  <p>Trigger this by adding the following to a link already configured to be presented modaly:</p>
  <p><code>data: {turbo_action: :replace}</code></p>
</div>
