<% content_for :title, "Replace" %>

<div class="top-level-container">
  <h1 class="hide@native margin-bs-xl text-large-title">Replace</h1>
  <p>
    This screen replaced the previous modal one.<br>
    Trigger this by adding the following to a link already configured to be presented modaly:<br>
    <code>data: {turbo_action: :replace}</code>
  </p>
</div>
