<% content_for :title, "Modal Navigation #2" %>

<div class="top-level-container">
  <h1 class="hide@native margin-bs-xl text-large-title">Modal Navigation #2</h1>
  <p>
    This screen was pushed on the modal stack.<br>
    Triggered via the following Path Configuration rule:<br>
    <pre><code>{
  "patterns": [
    "/modal$"
  ],
  "properties": {
    "context": "modal"
  }
}</code></pre>
  </p>

  <div class="formatted-list formatted-list--top-level">
    <%= render "navigations/item",
      path: replace_modal_path,
      data: {turbo_action: :replace},
      icon: "arrow-left-right-bold",
      name: "Replace navigation",
      description: "Replace this modal screen with a new one." %>

    <%= render "navigations/item",
      path: turbo_recede_historical_location_path,
      icon: "arrow-left-bold",
      name: "Recede navigation",
      description: "Pop this screen off the modal stack." %>
  </div>
</div>
